# Dependencies
/backend/vendor
/backend/node_modules
/frontend/node_modules
/frontend/dist

# Laravel
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/storage/framework/cache/data/*
!/backend/storage/framework/cache/data/.gitkeep
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitkeep
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitkeep
/backend/storage/logs/*
!/backend/storage/logs/.gitkeep
/backend/storage/app/public/*
!/backend/storage/app/public/.gitkeep
/backend/storage/app/private/*
!/backend/storage/app/private/.gitkeep
/backend/bootstrap/cache/*.php
/backend/public/build
/backend/public/hot
/backend/public/storage

# React
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

# Auth
/auth.json
/.npm
/.phpunit.cache
/.phpunit.result.cache
/.vscode
/.idea
/.fleet
/.zed
/npm-debug.log
/yarn-error.log
/.build
_ide_helper*.php
*.log
.DS_Store
Thumbs.db
